<br>
<app-side-category></app-side-category>
<div class="container">
    <h3>New Releases</h3>
<div class="row">
    <div class="col-md-2">
      <div class="thumbnail">
        <a routerLink="/new-release">
          <img src="..\..\assets\images\home_book_1.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>New Releases</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a routerLink="/adults">
          <img src="..\..\assets\images\home_book_2.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Adults</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a routerLink="/kids">
          <img src="..\..\assets\images\home_book_3.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Kids</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a routerLink="/kids">
          <img src="..\..\assets\images\home_book_3.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Kids</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a routerLink="/bestsellers">
          <img src="..\..\assets\images\home_book_4.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Best Sellers</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  </div>