<!-- <p>
  side-category works!
</p> -->


 <div class="col-md-2 sidenav table-bordered">
    <div class="table">
        <h5 class="header-label"> Category</h5>
        <ul>
         <li><a routerLink="../arts">Arts & Photography</a></li>
         <li><a routerLink="../biographies">Biographies</a></li>
         <li><a routerLink="../entertainment">Entertainment</a></li>
         <li><a routerLink="../kids-books">Kids</a></li>
         <li><a routerLink="../computer">Computer Books</a></li>
         <li><a routerLink="../history">History</a></li>
         <!-- <li><a routerLink="../home">Crime, Thriller & Mystery</a></li>
         <li><a routerLink="../home">Exam Preparation</a></li>
         <li><a routerLink="../home">Fantasy, Horror & Science Fiction</a></li>
         <li><a routerLink="../home">Health, Family </a></li>
         <li><a routerLink="../home">Develo</a></li> -->
        
        </ul>
    
       </div>
  <!-- <h5 class="header-label"> Categories </h5>
  <div>
    <ul>
      <li><a routerLink="../home">Category 1</a></li>
      <li><a routerLink="../home">Category 2</a></li>
      <li><a routerLink="../home">Category 3</a></li>
      </ul>
    </div>
    
    <h5 class="header-label"> Language </h5>
  <div class="checkbox">
      <label><input type="checkbox" value="">English</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">Telugu</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">Hindi</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">Marati</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">Sanskrit</label> -->
    <!-- </div>  -->
</div>
