<!-- <p>
  bestsellers works!
</p> -->

<!-- <p>
  adults works!
</p> -->

<!-- <p>
  women-prod-list works!
</p> -->
<app-side-category></app-side-category>
<div class="col-sm-9">
  <div class="row">
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#">
          <img src="..\..\assets\images\adults_book_1.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#">
          <img src="..\..\assets\images\adults_book_2.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#">
          <img src="..\..\assets\images\adults_book_3.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#">
          <img src="..\..\assets\images\adults_book_1.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#">
          <img src="..\..\assets\images\adults_book_1.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#">
          <img src="..\..\assets\images\adults_book_3.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#">
          <img src="..\..\assets\images\adults_book_2.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#">
          <img src="..\..\assets\images\adults_book_3.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
