<!-- <p>
  men-prod-list works!
</p> -->
<app-side-category></app-side-category>
<div class="col-sm-9">
  <div class="row">
    <div class="col-md-3 ">
      <div class="thumbnail">
        <a routerLink="/product_detail">
          <img src="..\..\assets\images\book_newrelease_1.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>New Release</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#">
          <img src="..\..\assets\images\book_newrelease_1.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>New Release</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#">
          <img src="..\..\assets\images\book_newrelease_1.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>New Release</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#">
          <img src="..\..\assets\images\book_newrelease_1.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>New Release</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- 
<div class="row"> -->
  <div class="row">
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#">
          <img src="..\..\assets\images\book_newrelease_1.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>New Release</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#">
          <img src="..\..\assets\images\book_newrelease_1.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>New Release</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#">
          <img src="..\..\assets\images\book_newrelease_1.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>New Release</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-3">
      <div class="thumbnail">
        <a href="#">
          <img src="..\..\assets\images\book_newrelease_1.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>New Release</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
