<!-- <p>
  kids-books works!
</p> -->

<app-side-category></app-side-category>
  <div><h2>Kids Books</h2></div>
  <div class="col-sm-9">
    <div class="row">
      <div class="col-md-3" *ngFor="let books of bookList">
        <div class="thumbnail product-thumb">
            <a routerLink="/books-details/{{ books.id}}" style="cursor: pointer">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/No_image_available_600_x_450.svg/900px-No_image_available_600_x_450.svg.png" alt="Lights" style="width:100%">
              <div class="product-brand"> 
                <p>{{ books.name }}<br> <em> by {{ books.author }}</em></p>
              </div>
            </a>
            <!-- <p>Description:{{ books.description }}</p> -->
          <p>₹ {{ books.price }}</p>
          <!-- <p>Author: {{ books.author }}</p> -->
          <button type="button" class="btn btn-success" routerLink="/books-details/{{ books.id }}" style="cursor: pointer">
            <span class="glyphicon glyphicon-plus-sign"></span> Add to cart
          </button>
          
    </div>
  </div>
  